.main{
  float: right;
  margin-left: -60px;
  margin-top: 50px;;
}

img{
  padding: 8px;
  margin-bottom: -23px;
  height: 330px;;
}
.title{
    font-size: 23px;
    font-family: serif;
    position: fixed;
    top: 98px;
    left: 663px;
}
